<h1>Editing discussion</h1>

<% form_for(@discussion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @discussion %> |
<%= link_to 'Back', discussions_path %>