<h1>Editing course_item</h1>

<% form_for(@course_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @course_item %> |
<%= link_to 'Back', course_items_path %>