<h1>Listing course_items</h1>

<table>
  <tr>
  </tr>

<% @course_items.each do |course_item| %>
  <tr>
    <td><%= link_to 'Show', course_item %></td>
    <td><%= link_to 'Edit', edit_course_item_path(course_item) %></td>
    <td><%= link_to 'Destroy', course_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New course_item', new_course_item_path %>